  <div class="section">
    <div class="section-head">
      <h2 class="section-title">{{systemFields.sculpting.label}}</h2>
    </div>
    <div class="section-content">
      {{#if editMode}} 
        <prose-mirror name="system.sculpting" data-document-uuid="{{actor.uuid}}" value="{{system.sculpting}}" collaborate="true" toggled="true">
          {{{enriched.sculpting}}}
        </prose-mirror>
      {{else}}
        <p>{{{enriched.sculpting}}}&nbsp;</p>
      {{/if}}
    </div>
  </div>

{{#unless limited}}
<div class="section">
    <div class="section-head" data-tooltip="SR6.title.ownerOnlySection">
      <h2 class="section-title">{{systemFields.securityResponse.label}}</h2>
    </div>
    <div class="section-content">
      {{#if editMode}} 
        <prose-mirror name="system.securityResponse" data-document-uuid="{{actor.uuid}}" value="{{system.securityResponse}}" collaborate="true" toggled="true">
          {{{enriched.securityResponse}}}
        </prose-mirror>
      {{else}}
        <p>{{{enriched.securityResponse}}}&nbsp;</p>
      {{/if}}
    </div>
</div>
{{/unless}}