<div class="row ic">
    <span class="label">{{localize "SR6.Actor.host.ic.label"}}:</span>
    <p>
        {{#each ic as |item|}}
            <label class="item-name" data-skill="{{id}}" data-item-id="{{item.id}}" data-action='itemDescToggle' data-tooltip="SR6.title.clickItemName">{{item.name}}</label>            
            {{#if (eq item.system.duration 'sustained')}}
            <a class="toggle-control" data-action='itemSustainToggle' data-item-id="{{item.id}}" data-tooltip="shadowrun6.section.sustained.toggle">
                <i class='fas {{#if item.system.isSustained}}fa-toggle-on{{else}}fa-toggle-off{{/if}}'></i>
            </a>
            {{/if}}
            {{#if item.isDeployedItem}}
            <a class="item-control" data-tooltip="SR6.Actor.host.matrixItems.retrieveTitle" data-action="retrieveToken" data-item-uuid="{{item.uuid}}"><i class="fas fa-right-to-bracket"></i></a>
            {{else}}
            <a class="item-control" data-tooltip="SR6.Actor.host.matrixItems.deployTitle" data-action="deployToken" data-item-uuid="{{item.uuid}}"><i class="fas fa-right-from-bracket"></i></a>
            {{/if}}
            {{#if item.system.skill}}<a class="item-control" data-tooltip="{{skillHint actor item.system.skill 'resonance'}}" data-action="roll" data-roll-type="item" data-item-id="{{item.id}}" data-uuid="{{item.uuid}}"><i class="fas fa-dice-six"></i></a>{{/if}}
            {{#unless @last}}, {{/unless}}
        {{/each}}
    </p>
    {{#each ic as |item|}}
        <div class="collapsible-content closed" data-item-id="{{item.id}}">
            <div><strong>{{item.name}} {{ localize 'shadowrun6.item.description' }}</strong></div>
            <div>{{{item.system.description}}}</div>
        </div>
    {{/each}}
</div>

<div class="row matrixItems">
    <span class="label">{{localize "SR6.Actor.host.matrixItems.label"}}:</span>
    <p>
        {{#each matrixItems as |item|}}
        {{#if item.system.isElectronicMatrixDevice}}
            <label class="item-name {{#if item.isDeployedItem}}deployed{{/if}}" data-skill="{{id}}" data-item-id="{{item.id}}" data-action='itemDescToggle' data-tooltip="SR6.title.clickItemName">{{item.name}}</label>            
            {{#if (eq item.system.duration 'sustained')}}
            <a class="toggle-control" data-action='itemSustainToggle' data-item-id="{{item.id}}" data-tooltip="shadowrun6.section.sustained.toggle">
                <i class='fas {{#if item.system.isSustained}}fa-toggle-on{{else}}fa-toggle-off{{/if}}'></i>
            </a>
            {{/if}}
            {{#if item.isDeployedItem}}
            <a class="item-control" data-tooltip="SR6.Actor.host.matrixItems.retrieveTitle" data-action="retrieveToken" data-item-uuid="{{item.uuid}}"><i class="fas fa-right-to-bracket"></i></a>
            {{else}}
            <a class="item-control" data-tooltip="SR6.Actor.host.matrixItems.deployTitle" data-action="deployToken" data-item-uuid="{{item.uuid}}"><i class="fas fa-right-from-bracket"></i></a>
            {{/if}}
            {{#if item.system.skill}}<a class="item-control" data-tooltip="SR6.Actor.host.matrixItems.rollTitle" data-action="roll" data-roll-type="item" data-item-id="{{item.id}}" data-uuid="{{item.uuid}}"><i class="fas fa-dice-six"></i></a>{{/if}}
            {{#unless @last}}, {{/unless}}
        {{/if}}
        {{/each}}
    </p>
    {{#each matrixItems as |item|}}
        <div class="collapsible-content closed" data-item-id="{{item.id}}">
            <div><strong>{{item.name}} {{ localize 'shadowrun6.item.description' }}</strong></div>
            <div>{{{item.system.description}}}</div>
        </div>
    {{/each}}
</div>

<div class="row">
    <span class="label">{{systemFields.resolutionGrade.label}}:</span>
    {{#if @root.editMode}}{{formInput systemFields.resolutionGrade value=source.resolutionGrade localize=true actor=actor}}
    {{else}}{{span system.resolutionGrade systemFields.resolutionGrade}}{{/if}}
</div>

<div class="row">
    <span class="label">{{systemFields.scale.label}}:</span>
    {{#if @root.editMode}}{{formInput systemFields.scale value=source.scale localize=true actor=actor}}
    {{else}}{{span system.scale systemFields.scale}}{{/if}}
</div>

<div class="row">
    <span class="label">{{systemFields.convergenceThreshold.label}}:</span>
    {{#if @root.editMode}}{{formInput systemFields.convergenceThreshold value=source.convergenceThreshold localize=true actor=actor}}
    {{else}}{{span system.convergenceThreshold systemFields.convergenceThreshold}}{{/if}}
    <span>{{localize "SR6.Actor.base.FIELDS.matrix.overwatchScore.label_short"}}</span>
</div>
