<div class="row">
    <span class="label">{{localize "SR6.label.deviceRating"}}:</span>
    {{span system.deviceRating}}
</div>

{{!-- TODO JEROEN add summoning --}}
{{!-- <div class="row">
<span class="label">{{systemFields.compiledBy.label}}:</span>
<p>{{#if system.compiledBy}}{{formInput systemFields.compiledBy value=system.compiledBy}}{{else}}<em>{{localize "SR6.label.unknown"}}</em>{{/if}}</p>
</div> --}}

<div class="row">
    <span class="label">{{systemFields.registered.label}}:</span>
    {{#if editMode}}
    <p>{{formInput systemFields.registered value=source.registered localize=true actor=actor}}</p>
    {{else}}
    <p>{{#if system.registered}}{{localize "SR6.label.yes"}}{{else}}{{localize "SR6.label.no"}}{{/if}}</p>
    {{/if}}
</div>

<div class="row">
    <span class="label">{{systemFields.tasksOwned.label}}:</span>
    {{#if @root.editMode}}{{formInput systemFields.tasksOwned value=source.tasksOwned localize=true actor=actor}}
    {{else}}{{span system.tasksOwned systemFields.tasksOwned}}{{/if}}
</div>

{{#if (ne system.registered)}}
<div class="row">
    <span class="label">{{localize "SR6.label.lifespan"}}:</span>
    {{span sprite.lifespan}}
</div>
{{/if}}

{{#if (eq system.type "music")}}
<div class="row">
    <em>{{localize "SR6.Actor.sprite.notes.music"}}</em>
</div>
{{/if}}