<!-- Matrix Actions -->
<section class="section matrix-section">
    <header class="section-head">
        <h2 class="section-title">{{ localize 'shadowrun6.section.matrix_actions.title' }}</h2>
    
		<div class="matrix-access-container"
			data-tooltip="shadowrun6.matrix.accessLevel.access_level_device{{#if isInitiatorAdmin}}_admin{{/if}}"
		>
			<div class="matrix-access-switch {{#if isInitiatorAdmin}}matrix-access-isadmin{{/if}} inactive"> {{!-- Only switch item access levels using actions --}}
				<span class="matrix-access-option {{#if matrixAccess.outsider}}active{{/if}}"
					data-action="switchMatrixAccess" data-value="outsider"
				>
					{{localize 'shadowrun6.matrix.accessLevel.outsider'}}
				</span>
				<span class="matrix-access-option {{#if matrixAccess.user}}active{{/if}}"
					data-action="switchMatrixAccess" data-value="user"
				>
					{{localize 'shadowrun6.matrix.accessLevel.user'}}
				</span>
				<span class="matrix-access-option {{#if matrixAccess.admin}}active{{/if}}"
					data-action="switchMatrixAccess" data-value="admin"
				>
					{{localize 'shadowrun6.matrix.accessLevel.admin'}}
				</span>

				<span class="active-label"></span>
			</div>
		</div>
		
    </header>

    <section class="matrix-action-lists">
        <ol class="section-list matrix-action-list">
        {{#each matrixActions.left as |action|}}
            <li class="section-item matrix-action" data-matrix-action-id="{{action.id}}">
                <div class="section-row">
                    <div class="section-column">{{matrixAction action}}</div>
                    <div class="section-name" data-action="toggleMatrixActionDesc" data-tooltip="SR6.title.showDescription">
                        {{action.name}}
                    </div>

                    <div class="section-column matrix-pool">
                    {{#if action.testPool}}
                        <label>{{action.testPool}}</label>
                    {{else}}
                        <label></label>
                    {{/if}}
                    </div>

                    <div class="section-column item-controls">
                    {{#if action.testPool}}
                        <a
                            class="item-control matrix-roll{{matrixAccessLevel @root.matrixAccess action}}"
                            data-action="matrixRoll"
                            data-matrix-id="{{action.id}}"
                            data-tooltip="{{action.skillName}}"
                        >
                            <i class="fas fa-dice-six"></i>
                        </a>
                    {{else}}
                        <a class="item-control matrix-roll{{matrixAccessLevel @root.matrixAccess action}}"
                            data-action="matrixRoll"
                            data-matrix-id="{{action.id}}"
                            data-tooltip="SR6.title.noRollNeeded"
                        >
                            <i class="fas fa-square"></i>
                        </a>
                    {{/if}}
                    </div>
                </div>

                <section class="collapsible-content closed" data-matrix-action-id="{{action.id}}">
                    <div class="matrix-action-description">
                        {{localize (concat 'shadowrun6.matrixaction.' action.id '.hint')}}
                    </div>
                </section>
            </li>
        {{/each}}
        </ol>

        <ol class="section-list matrix-action-list">
        {{#each matrixActions.right as |action|}}
            <li class="section-item matrix-action" data-matrix-action-id="{{action.id}}">
                <div class="section-row">
                    <div class="section-column">{{matrixAction action}}</div>
                    <div class="section-name" data-action="toggleMatrixActionDesc" data-tooltip="SR6.title.showDescription">
                        {{action.name}}
                    </div>

                    <div class="section-column matrix-pool">
                    {{#if action.testPool}}
                        <label>{{action.testPool}}</label>
                    {{else}}
                        <label></label>
                    {{/if}}
                    </div>

                    <div class="section-column item-controls">
                    {{#if action.testPool}}
                        <a
                            class="item-control matrix-roll{{matrixAccessLevel @root.matrixAccess action}}"
                            data-action="matrixRoll"
                            data-matrix-id="{{action.id}}"
                            data-tooltip="{{action.skillName}}"
                        >
                            <i class="fas fa-dice-six"></i>
                        </a>
                    {{else}}
                        <a class="item-control matrix-roll{{matrixAccessLevel @root.matrixAccess action}}"
                            data-action="matrixRoll"
                            data-matrix-id="{{action.id}}"
                            data-tooltip="SR6.title.noRollNeeded"
                        >
                            <i class="fas fa-square"></i>
                        </a>
                    {{/if}}
                    </div>
                </div>

                <section class="collapsible-content closed" data-matrix-action-id="{{action.id}}">
                    <div class="matrix-action-description">
                        {{localize (concat 'shadowrun6.matrixaction.' action.id '.hint')}}
                    </div>
                </section>
            </li>
        {{/each}}
        </ol>
    </section>
</section>
<!-- /Matrix Actions -->