{{log "*** header.hbs ***" this}}
{{! Sheet Header }}
<header class='sheet-header'>
  <img
    class='profile-img'
    src='{{actor.img}}'
    {{#if editMode}}
    data-edit='img'
    data-action='onEditImage'
    title='{{localize 'SR6.label.editImage'}}'
    {{/if}}
    height='100'
    width='100'
  />
  <div class="prototype-actor">
    {{#if actor.token}}{{localize 'SR6.label.token'}}{{else}}{{#if linkedToken}}{{localize 'SR6.label.unique'}}{{else}}{{localize 'SR6.label.template'}}{{/if}}{{/if}}
  </div>
  <div class='header-fields'>
    <div class='document-name'>
      <h1>
        {{#if editMode}}
        {{formInput fields.name value=actor.name placeholder=fields.name.label}}
        {{else}}
        {{span actor.name fields.name}}
        {{/if}}
      </h1>
    </div>
    <div class='npc-settings'>
        <label for='system.rating'>{{localize systemFields.rating.label}}</label>
        {{!-- TODO: numberInput doesn't automatically look at dataModel for min --}}
        {{!-- {{numberInput system.rating name="system.rating" min=1}} --}}
        
        {{#if editMode}}
        {{formInput systemFields.rating value=source.rating}}
        {{else}}
        {{span system.rating systemFields.rating}}
        {{/if}}

        <label for='system.type'>{{localize systemFields.type.label}}</label>
        {{#if editMode}}
        {{formInput systemFields.type value=source.type localize=true}}
        {{else}}
        {{span system.type systemFields.type}}
        {{/if}}
        
        {{!-- <div class=''>
          {{#if (eq actor.type 'character')}}
          {{/if}}
          {{#if (eq actor.type 'npc')}}
          {{/if}}
        </div> --}}
    </div>
  </div>
</header>