{{! Summary Tab for statblock }}
<section
  class='tab statblock scrollable {{tab.cssClass}}'
  data-group='primary'
  data-tab='statblock'
>

<div class="stat-block">

  <div class="stat-row">
    <div class="stat">
      <div class="stat-label">B</div>
      <div class="stat-value">4</div>
    </div>
    <div class="stat">
      <div class="stat-label">A</div>
      <div class="stat-value">6(6)</div>
    </div>
    <div class="stat">
      <div class="stat-label">R</div>
      <div class="stat-value">5</div>
    </div>
    <div class="stat">
      <div class="stat-label">S</div>
      <div class="stat-value">2(2)</div>
    </div>
    <div class="stat">
      <div class="stat-label">W</div>
      <div class="stat-value">5</div>
    </div>
    <div class="stat">
      <div class="stat-label">L</div>
      <div class="stat-value">5</div>
    </div>
    <div class="stat">
      <div class="stat-label">I</div>
      <div class="stat-value">5</div>
    </div>
    <div class="stat">
      <div class="stat-label">C</div>
      <div class="stat-value">8</div>
    </div>
    <div class="stat wide">
      <div class="stat-label">EDG</div>
      <div class="stat-value">4</div>
    </div>
    <div class="stat wide">
      <div class="stat-label">ESS</div>
      <div class="stat-value">5.05</div>
    </div>
    <div class="stat wide">
      <div class="stat-label">DR</div>
      <div class="stat-value">8</div>
    </div>
    <div class="stat wide">
      <div class="stat-label">I/ID</div>
      <div class="stat-value">10/1</div>
    </div>
    <div class="stat wide">
      <div class="stat-label">AC</div>
      <div class="stat-value">A1/I2</div>
    </div>
    <div class="stat wide">
      <div class="stat-label">CM</div>
      <div class="stat-value">11/10</div>
    </div>
    <div class="stat move">
      <div class="stat-label">MOVE</div>
      <div class="stat-value">10/15/+1</div>
    </div>
  </div>

  <div class="content">
    <div class="row">
      <span class="label">Active Skills:</span>
      <p><a title="1+1">Athletics <strong>2</strong></a>, <a>Biotech <strong>1</strong></a>, <a>Close Combat <strong>4</strong></a>, <a>Con <strong>4</strong></a>, 
        <a>Electronics <strong>2</strong></a>, <a>Firearms 4</a>, <a>Influence 7</a> <a>(Negotiation +3)</a>,
        <a>Perception 5</a> <a>(Visual +3)</a>, <a>Stealth 1</a></p>
    </div>

    <div class="row">
      <span class="label">Knowledge Skills:</span>
      <p>Criminology, HTR Protocols, Psy-ops, Psychology, Theology</p>
    </div>

    <div class="row">
      <span class="label">Languages:</span>
      <p>English (Native)</p>
    </div>

    <div class="row">
      <span class="label">Qualities:</span>
      <p>Attribute Mastery (Charisma), Injury Prone, Low-Light Vision, Sinner</p>
    </div>

    <div class="row">
      <span class="label">Contacts:</span>
      <p>City Official (C6/L4), Company Suit (C4/L4), Gang Boss (C3/L4), Police Chief (C6/L4), Wiz Kid Mage (C3/L4),
        Yakuza Wakagashira (C3/L3)</p>
    </div>

    <div class="row">
      <span class="label">Lifestyle:</span>
      <p>Low (1 month prepaid)</p>
    </div>

    <div class="row">
      <span class="label">Augmentations:</span>
      <p>Bone lacing (plastic, alpha), cyber forearm (obvious right, agility 6, strength 2; Harden 1, implanted Colt
        Secret Agent, retractable spur)</p>
    </div>

    <div class="row">
      <span class="label">Gear:</span>
      <p>Armanté suit, contacts (rating 3, image link, smartlink), Erika Elite commlink, fake SIN (rating 1; w/ driver's
        license), fake SIN (rating 6; w/ concealed carry license, cyberware license, driver’s license)</p>
    </div>

    <div class="row">
      <span class="label">Vehicles:</span>
      <p>BMW Tsarina II (spoof kit)</p>
    </div>

    <div class="row">
      <span class="label">Starting Nuyen:</span>
      <p>2.530¥</p>
    </div>

    <div class="row row-weapons">
      <div class="label">Weapons:</div>
      <div class="weapon-list">
        <div>AK-97 [Assault Rifle, DV 5P, SA/BF/FA, 5/12/9/7/1, 38c, w/ regular sling, smartlink system, personalized
          grip, 90 rounds caseless regular ammo]</div>
        <div>Colt Arms M-24 [Machine Pistol, DV 3P, SA/BF/FA, 8/9/8/—/—, 30c, w/ concealable quick draw holster, 90
          rounds caseless regular ammo]</div>
        <div>Colt Secret Agent [Light Pistol, DV 2P, SS, 9/7/—/—/—, 6c, w/ 30 rounds caseless regular ammo]</div>
      </div>
    </div>

    <div class="row">Condition Monitors</div>
    <div class="row">Overwatch Score</div>
    <div class="row">Device Rating (different from Defense Rating)</div>
    <div class="row">Lifespan: x hours</div>

  </div>
</div>















  <section class='grid grid-3col'>
    <aside class='sidebar'>
      {{! The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  }}
      <div class='abilities flexcol'>
        {{#each system.abilities as |ability key|}}
          <div class='ability flexrow flex-group-center'>
            <label
              class='resource-label rollable flexlarge align-left'
              data-action='roll'
              data-roll='d20+@abilities.{{key}}.mod'
              data-label='{{localize (lookup @root.config.abilities key)}}'
            >{{localize (lookup @root.config.abilities key)}}</label>
            <input
              type='text'
              name='system.abilities.{{key}}.value'
              value='{{ability.value}}'
              class='ability-score'
              data-dtype='Number'
            />
            <span
              class='ability-mod rollable'
              data-action='roll'
              data-roll='d20+@abilities.{{key}}.mod'
              data-label='{{localize (lookup @root.config.abilities key)}}'
            >{{numberFormat ability.mod decimals=0 sign=true}}</span>
          </div>
        {{/each}}
      </div>
    </aside>

    {{! For the main features list, span the right two columns }}
    <section class='main grid-span-2'>

    </section>
  </section>
</section>