<!-- Gear Controls Section -->
{{#if hud.show}}
<div class="hud-shell hud item-settings{{#if hud.bricked}} matrix-bricked{{/if}}">
    <div class="flexcol">

        {{#if hud.matrixCM}}
        <div class="matrix-track">
            <div class="track green" data-condition-monitor="matrix" data-action="onTrackClick">
                <div class="slots">
                    {{#each hud.matrixCM}}
                    <div class="slot{{#if active}} active{{/if}}" style="--slot-index: {{@index}};">
                        {{#if penalty}}<span>{{penalty}}</span>{{/if}}
                    </div>
                    {{/each}}
                </div>

                <div class="track-value" data-tooltip="SR6.title.CM.matrix.dmg" data-action="selectInputText">
                    {{localize 'SR6.label.CM.matrix.short'}}:
                    <input type="text" name="system.matrix.matrixCM.dmg" data-field="system.matrix.matrixCM.dmg" value="{{item.system.matrix.matrixCM.dmg}}">
                </div>
            </div>
        </div>
        {{/if}}

        <div class="item-fields-grid">
            {{#if hud.showWifi}}
            <div class="item-field wireless-active">
                <label class="item-field-label" for="wireless-active">
                    {{localize 'SR6.Item.base.FIELDS.wirelessActive.label'}}
                </label>

                <div class="item-field-control matrix-checkbox" data-tooltip="SR6.Item.base.FIELDS.wirelessActive.hint">
                    <input
                        id="wireless-active"
                        class="matrix-checkbox-input"
                        name="system.matrix.wirelessActive"
                        data-field="system.matrix.wirelessActive"
                        type="checkbox"
                        {{checked item.system.matrix.wirelessActive}}
                        {{#if hud.bricked}}disabled{{/if}}
                    />

                    <label class="matrix-checkbox-label" for="wireless-active">
                        <span class="matrix-checkbox-light"></span>
                        <span class="matrix-checkbox-text">
                            {{#if item.system.matrix.wirelessActive}}ONLINE{{else}}OFFLINE{{/if}}
                        </span>
                    </label>
                </div>
            </div>
            {{/if}}

            {{#if hud.showAmmo}}
            <div class="item-field">
                <label class="item-field-label" for="ammo-capacity">
                    {{localize 'shadowrun6.item.ammunition'}}
                </label>
                <div class="item-field-control">
                    <a
                        class="matrix-button{{#unless item.system.ammocount}} matrix-button-empty{{/unless}}"
                        data-action="weaponReload{{#if hud.bricked}}-disabled{{/if}}"
                        data-tooltip="shadowrun6.weapon.reload_ammo"
                    >
                        <span class="matrix-button-text">
                            {{item.system.ammocount}}/{{item.system.ammocap}}
                        </span>
                        <i class="fas fa-rotate-right"></i>
                    </a>
                </div>
            </div>

            {{!-- <div class="item-field">
                <label class="item-field-label" for="ammo-capacity">
                    {{localize 'shadowrun6.weapon.ammo_cap_short'}}
                </label>
                <div class="item-field-control">
                    <input
                        class="matrix-input"
                        name="system.ammocap"
                        data-field="system.ammocap"
                        type="number"
                        value="{{item._source.system.ammocap}}"
                    />
                </div>
            </div> --}}

            <div class="item-field">
                <label class="item-field-label" for="ammo-loaded">
                    {{localize 'SR6.Item.base.FIELDS.ammoLoaded.label'}}
                </label>
                <div class="item-field-control">
                    <select
                        class="matrix-input"
                        name="system.ammoLoaded"
                        data-field="system.ammoLoaded"
                        data-tooltip="SR6.Item.base.FIELDS.ammoLoaded.hint"
                        {{#if hud.bricked}}disabled{{/if}}
                    >
                        {{selectOptions config.AMMO_TYPES selected=item.system.ammoLoaded localize=true sort=true}}
                    </select>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</div>
{{/if}}